In [17]:
import numpy as np
import pandas as pd
import numpy.random as rd

In [ ]:
# Dataframes are 2_dimensional Table that can hold hetergenous datatypes

In [12]:
TwoD=rd.randint(25, size=(4,4))
TwoD

array([[ 9, 14,  5, 17],
       [19,  6,  8,  8],
       [ 3, 14, 20,  2],
       [ 2,  4, 22, 17]], dtype=int32)

In [19]:
column_header=["Arpan", "Sayan", "Shuvra","Bibek"]
row_header = ["Roll No.", "Marks", "Grade" , "MAR"]
pd1 = pd.DataFrame(TwoD, index=row_header, columns=column_header)
pd1

          Arpan  Sayan  Shuvra  Bibek
Roll No.      9     14       5     17
Marks        19      6       8      8
Grade         3     14      20      2
MAR           2      4      22     17

In [18]:
#retrieve Marks Row-->

In [23]:
#We have to use loc() means location 
pd1.loc["Marks"]

Arpan     19
Sayan      6
Shuvra     8
Bibek      8
Name: Marks, dtype: int32